@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Quicksand:wght@300..700&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

@theme {
  --color-brown1: #1C1816;
  --color-brown2: #28211D;
  --color-brown3: #4D3C2F;
  --color-brown4: #F2E1CA;
  --color-lightbrown1: #F6EEE7;
  --color-lightbrown2: #F0E4D9;
  --color-lightbrown3: #DCBC9F;
  --color-lightbrown4: #3E332E;
  --font-text: "Arimo", sans-serif;
  --font-head: "Merriweather Sans", sans-serif;
  
}

:root {
  --background: linear-gradient(0deg, var(--color-lightbrown1) 0%, var(--color-lightbrown2) 90%, var(--color-lightbrown3) 100%);
  --text: var(--color-lightbrown4);
  --fill-icon: var(--color-lightbrown4);
  --bg-button: var(--color-lightbrown4);
  --text-button: var(--color-lightbrown1);
  --bg-button-hover: var(--color-brown2);
  --shadow-top: 2px -2px 10px rgba(62,51,46,1);
}

.dark {
  --background: linear-gradient(0deg, var(--color-brown1) 0%, var(--color-brown2) 90%, var(--color-brown3) 100%);
  --text: var(--color-brown4);
  --fill-icon: var(--color-brown4);
  --bg-button: var(--color-brown4);
  --text-button: var(--color-brown1);
  --bg-button-hover: var(--color-lightbrown3);
  --shadow-top: 2px -2px 10px rgb(0, 0, 0);
}

body {
  background: var(--background);
  color: var(--text);
  font-family: var(--font-text);

}

h1 {
  font-family: var(--font-head);
  font-weight: 600;
}

h2 {
  font-family: var(--font-text);
  font-weight: 600;
}

svg.icon-fill {
  fill: var(--fill-icon);
}

button {
  background-color: var(--bg-button);
  color: var(--text-button);
}

button:hover {
  background-color: var(--bg-button-hover);
}

.card{
  background-color: var(--color-lightbrown3);
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
  transition: transform 0.3s , box-shadow 0.3s ;
}

.dark .card{
  background-color: var(--color-brown3);
}

footer {
  background-color: var(--color-brown1);
  color: var(--color-brown4);
}

.dark footer{
  background-color: var(--color-lightbrown1);
  color: var(--color-lightbrown4)
}

@keyframes slideDown{
  from{
    opacity: 0;
    max-height: 0;
    transform: translateY(-30px);
  }
  to{
    opacity: 1;
    max-height: 500px;
    transform: translateY(0);
  }
}

.slide-down{
  animation: slideDown 0.7s ease-in-out forwards;
  overflow: hidden;
}
